In [6]:
import pandas as pd

In [9]:
table_A = pd.read_csv('Table_A.csv')
table_A.head()

   a  b  c  d  e  f  g  h
0  1  2  2  2  2  3  3  3
1  2  2  2  2  3  3  3  3
2  2  3  3  3  3  3  4  4
3  2  3  3  3  3  4  4  4
4  3  3  3  3  3  4  4  4

In [11]:
table_A.iloc[0]

a    1
b    2
c    2
d    2
e    2
f    3
g    3
h    3
Name: 0, dtype: int64

In [32]:
import csv

with open('Table_A.csv', 'r') as csv_file:
    reader = csv.reader(csv_file)
    next(reader)

    tableA_dict = {}

    tableA_list = []

    for row in reader:
        # Convertir chaque élément de la liste de strings en int
        row_as_int = [int(x.strip()) for x in row]
        tableA_list.append(row_as_int)
    
    j=0

    for i in range(1,7):

        tableA_dict[i] = tableA_list[j:j+3]
        j+=3
    
    print(tableA_dict)

{1: [[1, 2, 2, 2, 2, 3, 3, 3], [2, 2, 2, 2, 3, 3, 3, 3], [2, 3, 3, 3, 3, 3, 4, 4]], 2: [[2, 3, 3, 3, 3, 4, 4, 4], [3, 3, 3, 3, 3, 4, 4, 4], [3, 4, 4, 4, 4, 4, 5, 5]], 3: [[3, 3, 4, 4, 4, 4, 5, 5], [3, 4, 4, 4, 4, 4, 5, 5], [4, 4, 4, 4, 4, 5, 5, 5]], 4: [[4, 4, 4, 4, 4, 5, 5, 5], [4, 4, 4, 4, 4, 5, 5, 5], [4, 4, 4, 5, 5, 5, 6, 6]], 5: [[5, 5, 5, 5, 5, 6, 6, 7], [5, 6, 6, 6, 6, 7, 7, 7], [6, 6, 6, 7, 7, 7, 7, 8]], 6: [[7, 7, 7, 7, 7, 8, 8, 9], [8, 8, 8, 8, 8, 9, 9, 9], [9, 9, 9, 9, 9, 9, 9, 9]]}

In [35]:
for key,value in tableA_dict.items():
    i=0
    for coude in value:
        coude = [[coude[i],coude[i+1]] for i in range(0,len(coude),2)]
        value[i] = coude
        i+=1
    tableA_dict[key] = value

print(tableA_dict)

{1: [[[1, 2], [2, 2], [2, 3], [3, 3]], [[2, 2], [2, 2], [3, 3], [3, 3]], [[2, 3], [3, 3], [3, 3], [4, 4]]], 2: [[[2, 3], [3, 3], [3, 4], [4, 4]], [[3, 3], [3, 3], [3, 4], [4, 4]], [[3, 4], [4, 4], [4, 4], [5, 5]]], 3: [[[3, 3], [4, 4], [4, 4], [5, 5]], [[3, 4], [4, 4], [4, 4], [5, 5]], [[4, 4], [4, 4], [4, 5], [5, 5]]], 4: [[[4, 4], [4, 4], [4, 5], [5, 5]], [[4, 4], [4, 4], [4, 5], [5, 5]], [[4, 4], [4, 5], [5, 5], [6, 6]]], 5: [[[5, 5], [5, 5], [5, 6], [6, 7]], [[5, 6], [6, 6], [6, 7], [7, 7]], [[6, 6], [6, 7], [7, 7], [7, 8]]], 6: [[[7, 7], [7, 7], [7, 8], [8, 9]], [[8, 8], [8, 8], [8, 9], [9, 9]], [[9, 9], [9, 9], [9, 9], [9, 9]]]}

In [41]:
# Pour Epaule = 2, Coude = 3, Poignet = 3, et Torsion du Poignet = 1 
# On devrait obtenir 4
print(tableA_dict[2][2][2][0])

4

In [45]:
tableA_dataframe = pd.DataFrame.from_dict({(i, j, k, l): tableA_dict[i][j][k][l] for i in tableA_dict.keys() for j in range(len(tableA_dict[i])) for k in range(len(tableA_dict[i][j])) for l in range(len(tableA_dict[i][j][k]))}, orient='index')

tableA_dataframe = tableA_dataframe.reset_index().rename(columns={'level_0': 'épaule', 'level_1': 'coude', 'level_2': 'poignet', 'level_3': 'torsion', 0: 'score'})

tableA_dataframe[tableA_dataframe['index']==(2,2,2,0)]['score']

tableA_dataframe.to_csv("Vrai_Table_A.csv")

In [53]:
tableA_dataframe.loc[tableA_dataframe['index'] == (2, 2, 2, 0), 'score'].values[0]

tableA_dataframe['index'].dtype

dtype('O')

In [58]:
import ast
df = pd.read_csv('Vrai_Table_A.csv', converters={'index': ast.literal_eval})

df.loc[df['index'] == (2, 2, 2, 0), 'score'].values[0]

4

In [2]:
import csv

with open('Table_B.csv', 'r') as csv_file:
    reader = csv.reader(csv_file)
    next(reader)

    tableB_dict = {}

    tableB_list = []

    for row in reader:
        # Convertir chaque élément de la liste de strings en int
        row_as_int = [int(x.strip()) for x in row]
        tableB_list.append(row_as_int)
    
    
    for i in range(1,7):
              
         tableB_dict[i] = tableB_list[i-1]
        
    print(tableB_dict)

{1: [1, 3, 2, 3, 3, 4, 5, 5, 6, 6, 7, 7], 2: [2, 3, 2, 3, 4, 5, 5, 5, 6, 7, 7, 7], 3: [3, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 7], 4: [5, 5, 5, 6, 6, 7, 7, 7, 7, 7, 8, 8], 5: [7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8], 6: [8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9]}

In [3]:
for key, value in tableB_dict.items():
    tableB_dict[key] = [[value[i],value[i+1]] for i in range(0,len(value),2)]
    
print(tableB_dict)

{1: [[1, 3], [2, 3], [3, 4], [5, 5], [6, 6], [7, 7]], 2: [[2, 3], [2, 3], [4, 5], [5, 5], [6, 7], [7, 7]], 3: [[3, 3], [3, 4], [4, 5], [5, 6], [6, 7], [7, 7]], 4: [[5, 5], [5, 6], [6, 7], [7, 7], [7, 7], [8, 8]], 5: [[7, 7], [7, 7], [7, 8], [8, 8], [8, 8], [8, 8]], 6: [[8, 8], [8, 8], [8, 8], [8, 9], [9, 9], [9, 9]]}

In [4]:
# Pour Nuque = 2, Posture de tronc = 3, Jambes = 2, on devrait obtenir 5
# Vérifions:
print(tableB_dict[2][2][1])

5

In [10]:
table_B_dataframe = pd.DataFrame.from_dict({(i, j, k): tableB_dict[i][j][k] for i in tableB_dict.keys() for j in range(len(tableB_dict[i])) for k in range(len(tableB_dict[i][j]))}, orient='index')

table_B_dataframe = table_B_dataframe.reset_index().rename(columns={'level_0': 'nuque', 'level_1': 'posture', 'level_2': 'jambes', 0: 'score'})

table_B_dataframe[table_B_dataframe['index']==(2,2,1)]['score']

table_B_dataframe.to_csv("Vrai_Table_B.csv")

In [41]:
import pandas as pd

df = pd.read_csv('Table_C.csv', index_col=0)
df

   1  2  3  4  5  6  7
1  1  2  3  3  4  5  5
2  2  2  3  4  4  5  5
3  3  3  3  4  4  5  6
4  3  3  3  4  5  6  6
5  4  4  4  5  6  7  7
6  4  4  5  6  6  7  7
7  5  5  6  6  7  7  7
8  5  5  6  7  7  7  7

In [42]:
df.columns

Index(['1', '2', '3', '4', '5', '6', '7'], dtype='object')

In [44]:
a = 6
df[f'{a}'][4]

6